<tr data-container-id="<%= container_id %>" data-amount="<%= amount %>" data-currency="<%= currency %>">
	<td><%= container_code %></td>
	<td><%= currency_code %> <%= amount %></td>
	<td>
		<button class="btn btn-mini btn-danger delete-container">
			<i class="icon-trash icon"></i>
			Delete
		</button>
	</td>
</tr>