<tr data-charge-id="<%= charge_code_id %>"
	data-currency-id="<%= currency_id %>"
	data-effective_date="<%= effective_date %>"
	data-expires-date="<%= expires_date %>"
	data-notes="<%= notes %>"
	data-amount"<%= amount %>">
	<td><%= charge_code_desc %></td>
	<td><%= currency_desc %></td>
	<td><%= effective_date %></td>
	<td><%= expires_date %></td>
	<td><%= amount %></td>
	<td><button class="btn btn-danger btn-mini delete-input-charge"><i class="icon icon-trash"></i></button>
</tr>