<li data-rule-id="<%= id %>">
	<span class="prefix"><%= prefix %></span>
	<span class="left-side"><%= condition %></span>
	<span class="verb"><%= verb %></span>
	<span class="selected-text"><%= text %></span>
</li>