<tr data-index="<%= data.index %>">
	<td><%= data.origin.name %></td>
	<td><%= data.destination.name %></td>
	<td><%= data.container.type %></td>
	<td><%= data.container.value %></td>
	<td class="remove-product" style="cursor: pointer; color: red;"><i class="icon-trash"></i></td>
</tr>